*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    color: rgb(115, 63, 136);
    
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 50px;
    
}

button{
    height: 80px;
    width:160px;
    background-color: rgb(98, 160, 39);
    color: rgb(11, 11, 15);
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
}

button:active{
    scale: 0.95;
}