*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.pimg1,.pimg2, .pimg3{
    position: relative;
    opacity: 0.90;
    

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.pimg1{
    background-image: url(image1.png);
    min-height: 100vh;
}
.pimg2{
    background-image: url(image2.png);
    min-height: 400px;
}
.pimg3{
    background-image: url(image3.jpg);
    min-height: 400px;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textBg{
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000;
    background-color: rgba(8, 8, 8, 0.4);
    padding: 20px;
}

.section{
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    background-color: #a9e9ae;
}



h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.textBg:hover{
    box-shadow: inset 0 0 20px #000;
    background-color: rgba(8, 8, 8, 0.6);
    transition: 0.5s ease-out;
}