*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(207, 228, 235);
    font-family: Helvetica, sans-serif;
}

#main{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 25px;
}

#card{
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.22);
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#card h2{
    margin-top: 15px;
    font-size: 22px;
    color: #333;
}

#card button{
    border-radius: 50px;
    padding: 10px 25px;
    background-color: rgb(16, 73, 228);
    font-weight: 600;
    color: white;
    border: 2px solid rgb(22, 69, 199);

}


#card button:hover{
    background-color: transparent;
    color:rgb(22, 69, 199) ;

    

}