*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#parent{
    height: 400px;
    width: 100%;
    background-color: #333;
    display: flex;
    
    padding: 30px 20px;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: scroll;
}

#parent::-webkit-scrollbar{
    display: none;
}

#child{
    height: 90%;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
    
}

#child img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}