*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
}   

#nav{
    height: 60px;
    width: 100%;
    background-color: rgb(24, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

#nav h4{
    color: white;
    font-weight: 500;
}

#center{
    height: 90%;
    width: 100%;
    background-color: rgb(15, 15, 15);
    text-align: center;
    justify-content: center;
    padding: 40px;
    background-size: cover;
    background-position: center;

    background-image: url(https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large.jpg);
}

#center h1{
    color: white;
    font-size: 50px;
    font-weight: 545;

}
#center h5{
    color: white;
    font-size: 27px;
    font-weight: 300;

}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

button{
    background-color: royalblue;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 18px;
}