*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 25px;
    background-color: rgb(211, 235, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;


}

.card{
    height: 280px;
    width: 300px;
    background-color: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    
    transition: all ease 0.5s;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    background: linear-gradient(transparent, rgb(44, 43, 43));
    transition: all ease 0.5s;
    bottom: -40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    
}

.bottom h3{
    color: black;
    padding: 5px 7px;
    
    background-color: white;
    border-radius: 50%;
}

.bottom h4{
    color: white;
    padding: 15px;
    font-size: 25px;
}

.card:hover .bottom{
    bottom: 0%;
}