*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: rgb(110, 153, 61);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

img{
    /* height: 450px;
    width: 350px;
    object-fit: cover; */
    border-radius: 20px;
}

h2{
    font-size: 25px;
}


